@use 'functions.scss' as *;

//  Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// Lists
$list-gap-left: remm(16px);

.rra-common-list {
  &-layer-first {
    margin: 0;
  }

  &-layer-first,
  &-layer-second {
    padding-left: $list-gap-left;
  }
  &-layer-third {
    padding-left: calc($list-gap-left * 1.5);
  }
}

ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
