@use '../../scss/helpers/pseudo-el-base.scss' as *;
@use '../../scss/helpers/button-base.scss' as *;
@use '../../scss/helpers/button-pressed-glass-effect.scss' as *;

@use '../../scss/variables/constants.scss' as *;
@use '../../scss/functions.scss' as *;

$switch-width: remm(48px);
$switch-height: remm(24px);

$sunny-moon-el-width: remm(20px);
$sunny-moon-el-margin: remm(2px);

.theme-switcher {
  @extend .rra-button-base, .button-pressed-glass-effect;
  width: $switch-width;
  min-width: $switch-width;
  height: $switch-height;
  position: relative;

  .checkbox {
    display: none;
  }

  .sunny-moon-element {
    transition: left 0.15s ease-in;
    border-radius: 50%;
    position: absolute;
    left: remm(2px);
    top: remm(2px);
    width: $sunny-moon-el-width;
    height: $sunny-moon-el-width;
    background-color: rgba(#000, 0.07);
    box-shadow: 0 remm(1.5px) remm(3px) 0remm (6px) rgba(#000, 0.7);

    // blick
    &:before {
      @include pseudo-el-base;
      border-radius: 100%;
      box-shadow: inset 0 remm(1.5px) remm(1px) remm(-0.6px) rgba(#fff, 0.6);
    }

    // inverse blick
    &:after {
      @include pseudo-el-base;
      border-radius: 100%;
      box-shadow: inset 0 remm(-1.5px) remm(1px) remm(-0.5px) rgba(#000, 0.7);
    }
  }

  .tsw-sunny-moon-sprite {
    transition: top 0.2s ease-in;
    position: relative;
    left: remm(3.6px);
    top: remm(-18px);
  }

  &.tsw-mode-night {
    .sunny-moon-element {
      left: calc($switch-width - $sunny-moon-el-width - $sunny-moon-el-margin);
    }
    .tsw-sunny-moon-sprite {
      top: remm(3.9px);
    }
  }

  .img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
  }
}
