@use '../../scss/core/elements/page-base.scss' as *;

.rra-main-page {
  @extend .rra-page-base;

  &-heading {
    margin-bottom: 16px;
  }

  &-sub-heading {
    margin-bottom: 16px;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
  }
}
