.main-page {
  padding: 80px 22px 36px;
  width: 100%;

  &-heading {
    margin-bottom: 16px;
  }

  &-sub-heading {
    margin-bottom: 16px;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
  }
}
