@use '../../scss/core/page/page-base.scss' as *;
@use '../../scss/functions.scss' as *;

.rra-main-page {
  @extend .rra-page-base;

  &-heading {
    margin-bottom: remm(16px);
  }

  &-sub-heading {
    margin-bottom: remm(16px);
  }

  &-text {
    font-weight: 400;
    font-size: remm(16px);
    line-height: 150%;
    letter-spacing: remm(0.15px);
  }
}
