@use '../../scss/helpers/button-base.scss' as *;
@use '../../scss/helpers/button-glass-effect.scss' as *;
@use '../../scss/variables/colors.scss' as *;
@use '../../scss/core/mixins/position.scss' as *;
@use '../../scss/functions.scss' as *;

$input-font-size: remm(12px);
$error-color-bg: rgba($red, .6);
$error-color-border: rgba($red, .7);

.rra-text-input {
  @include position(relative);
  display: flex;
  flex-direction: column;

  &-field {
    @extend .rra-button-base;
    @include position(absolute, 0, 0);
    padding: remm(4px) remm(12px);
    color: $white;
    width: 100%;
    z-index: 1;
    font-size: $input-font-size;

    &:-webkit-autofill,
    &:autofill {
      font-size: $input-font-size;
      -webkit-text-fill-color: $white;
      filter: none !important;
      // background-color: transparent !important;
      // remove autofill background-color,
      // idk why `transition` prop works here, but `background-color doesn't`
      // that's vwry wondering
      transition: background-color 5000s ease-in-out 0s !important;
      caret-color: $white !important;
    }

    &::placeholder {
      /* Standard syntax for Chrome, Firefox, Opera, Safari, Edge */
      color: $white;
      opacity: 0.55;
    }

    &:focus::placeholder {
      opacity: 0.8;
    }
  }

  &-label {
    @extend .button-glass-effect;
    width: 100%;
    z-index: 2;
  }

  &-field:focus + &-label {
    border: remm(1px) solid $white;
    z-index: 0;

    .rra-hover-layout {
      opacity: 0.5;
    }
  }

  &__error-message {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-self: flex-start;
    padding: remm(4px) remm(12px);
    font-size: remm(10px);
    background-color: $error-color-bg;
    color: $white;
    margin-top: remm(4px);
    border-radius: remm(16px);
    text-shadow: -1px 1px 10px rgba($black, .9);
    backdrop-filter: blur(3px);
    border: 1px solid $error-color-border;
    width: 100%;
  }

  &--error-state &-field:focus + &-label {
    border-color: $error-color-border;
  }
}
