@use '../../../scss/helpers/button-base.scss' as *;
@use '../../../scss/helpers/button-glass-effect.scss' as *;

@use '../../../scss/variables/colors.scss' as *;

@use '../../../scss/functions.scss' as *;

.rra-text-button {
  @extend .rra-button-base, .button-glass-effect;
  color: $white;

  &-sm {
    height: remm(25px);
    padding: remm(2px) remm(8px);
    font-size: remm(10px);
  }

  &-place-on-bg-light {
    background-color: rgba($primary-color, 0.8);
  }
}
