@use '../../../scss/helpers/button-base.scss' as *;
@use '../../../scss/helpers/button-glass-effect.scss' as *;

@use '../../../scss/variables/colors.scss' as *;

.rra-text-button {
  @extend .rra-button-base, .button-glass-effect;
  color: $white;

  &-sm {
    height: 25px;
    padding: 2px 8px;
    font-size: 10px;
  }

  &-place-on-bg-light {
    background-color: rgba($primary-color, .8);
  }
}
