@use '../../scss/helpers/glass-box.scss' as *;
@use '../../scss/variables/colors.scss' as *;

$rra-glass-card-border-radius: 16px;

.rra-glass-card {
  @include rra-glass-box($rra-glass-card-border-radius);

  &-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .rra-main-heading {
    color: $cyan;
  }

  .rra-sub-heading,
  & {
    color: $white;
  }

  &-bg-decoration,
  &-bg-decoration-dark {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $rra-glass-card-border-radius;
    opacity: .1;
    transition: opacity .9s;
    z-index: -1;
  }

  &-bg-decoration-dark {
    opacity: 0;
  }
}
