@use '../../../scss/variables/colors.scss' as *;
@use '../../../scss/functions.scss' as *;

.pgp-clip-path {
  &__logo-wrap {
    position: relative;
    display: flex;
  }

  $logo_w: 130px;
  $logo_h: 96.25px;

  &__logo {
    position: relative;
    z-index: 0;
    width: rem_($logo_w);
    height: rem_($logo_h);
  }

  &__clip-block, &__clip-block-2 {
    clip-path: circle(40%);

    // clip-path: url('../../../../public/svg/logo.svg#path-1');
    // clip-path: path(
    //   'M0 0.75C0 0.335786 0.335786 0 0.75 0H11.25C11.6642 0 12 0.335786 12 0.75C12 1.16421 11.6642 1.5 11.25 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75Z'
    // );


    background-clip: text;


    backdrop-filter: blur(5px);

    clip-rule: nonzero;

    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;


    border-radius: 10px;
    border: 1px solid rgba($black, 0.7);
    background-color: rgba($white, 0.5);

    box-shadow: 5px 5px 5px 5px rgba($black, 0.5);
    // box-shadow: inset 5px 5px 5px 5px rgba($black, 0.5);

    // filter: drop-shadow(
    //   15px 12px 2px rgba($black, 0.7)
    // );

    width: rem_($logo_w);
    height: rem_($logo_h);
    margin-left: rem_(15px);
    padding: 10px;
  }


  &__clip-block-2 {
    box-shadow: inset 5px 5px 5px 5px rgba($black, 0.5);
  }
}
