@use '../../../scss/variables/colors.scss' as *;
@use '../../../scss/functions.scss' as *;

.pgp-clip-path {
  &__logo-wrap {
    position: relative;
    display: flex;
  }

  $logo_w: remm(130px);
  $logo_h: remm(96.25px);

  &__logo {
    position: relative;
    z-index: 0;
    width: $logo_w;
    height: $logo_h;
  }

  &__clip-block,
  &__clip-block-2 {
    clip-path: circle(40%);

    // clip-path: url('../../../../public/svg/logo.svg#path-1');
    // clip-path: path(
    //   'M0 0.75C0 0.335786 0.335786 0 0.75 0H11.25C11.6642 0 12 0.335786 12 0.75C12 1.16421 11.6642 1.5 11.25 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75Z'
    // );

    background-clip: text;

    backdrop-filter: blur(remm(5px));

    clip-rule: nonzero;

    position: absolute;
    top: 0;
    left: remm(20px);
    z-index: 1;

    border-radius: remm(10px);
    border: remm(1px) solid rgba($black, 0.7);
    background-color: rgba($white, 0.5);

    box-shadow: remm(5px) remm(5px) remm(5px) remm(5px) rgba($black, 0.5);
    // box-shadow: inset remm(5px) remm(5px) remm(5px) remm(5px) rgba($black, 0.5);

    // filter: drop-shadow(
    //   remm(15px) remm(12px) remm(2px) rgba($black, 0.7)
    // );

    width: $logo_w;
    height: $logo_h;
    margin-left: remm(15px);
    padding: remm(10px);
  }

  &__clip-block-2 {
    box-shadow: inset remm(5px) remm(5px) remm(5px) remm(5px) rgba($black, 0.5);
  }
}
