@use '../../scss/variables/colors.scss' as *;
@use '../../scss/helpers/glass-box.scss' as *;

$header-height: 48px;

.header-layout {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 16px 22px;
  width: 100%;

  .header {
    @include rra-glass-box($header-height, $header-height, 100%);
    background-color: $header-bg;

    padding: 8px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    margin-left: 15px;
    margin-top: 5px;
  }

  .logo-wrap,
  .nav-wrap {
    position: relative;
    z-index: 2;
  }

  .nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-button {
    margin-left: 8px;
  }

  .header-text-button {
    margin-left: 8px;
  }

  .header-theme-switcher {
    margin-left: 8px;
  }
}
