@use '../../scss/variables/colors.scss' as *;
@use '../../scss/utils/glass-box.scss' as *;

@use '../../scss/functions.scss' as *;

$header-height: remm(48px);

// TODO add preffix rra
.header-layout {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: remm(16px) remm(22px);
  width: 100%;

  // TODO add preffix rra- and incapsulate childeren element classnames in rra-header
  .header {
    @include rra-glass-box($header-height, $header-height, 100%);
    background-color: $header-bg;

    padding: remm(8px);

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    margin-left: remm(15px);
  }

  .logo-wrap,
  .nav-wrap {
    position: relative;
    z-index: 2;
  }

  .nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-button {
    margin-left: remm(8px);
  }

  .header-text-button {
    margin-left: remm(8px);
  }

  .header-theme-switcher {
    margin-left: remm(8px);
  }
}
