@use './button-base.scss' as *;
@use './pseudo-el-base.scss' as *;
@use '../variables/constants.scss' as *;
@use '../functions.scss' as *;

.button-pressed-glass-effect {
  @extend .rra-button-base;

  width: $button-height * 2;
  position: relative;

  // a small tiny whaite border, to increase blick
  // border: 0.1px solid rgba(#fff, .05);

  // inverse blick
  &:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: 0 remm(-1px) remm(1px) remm(-0.5px) rgba(#000, 0.7);
  }

  // blick
  &:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: 0 remm(1px) remm(1px) remm(-0.6px) rgba(#fff, 0.7);
  }

  // shadow
  .rra-more-pseudo:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset remm(-0.99px) remm(3px) remm(2.9px) remm(0.5px)
      rgba(#000, 0.4);
  }

  // small secondary shadow
  .rra-more-pseudo:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset remm(-0.9px) remm(2.5px) remm(1.9px) remm(0.05px)
      rgba(#000, 0.3);
  }

  // a small tiny outer shadow
  box-shadow: remm(1px) remm(1px) remm(6px) remm(1px) rgba(#000, 0.1);
}
