@use './pseudo-el-base.scss' as *;
@use '../variables/constants.scss' as *;

@use '../variables/colors.scss' as *;

.button-glass-effect {
  position: relative;
  background-color: rgba(#000, 0.05);
  box-shadow: 1px 1px 2px -1px rgba(#000, 0.15);
  height: $button-height;
  border-radius: $button-height;

  // blick - on left top
  &:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset 3px 4px 2px -4px rgba(#fff, 0.6);
  }

  // blick - on bottom right
  &:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset -3px -4px 2px -4px rgba(#fff, 0.6);
  }

  // a small inner shadow
  .rra-more-pseudo:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset 1px 1px 6px 1px rgba(#000, 0.25);
  }

  // set up containers for additional pseudo elements
  .rra-more-pseudo,
  .rra-hover-layout,
  .rra-hl-more-pseudo {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $button-height;
    z-index: 0;
  }

  // button states
  transition: color 0.5s;
  &:before,
  &:after,
  .rra-more-pseudo:before,
  .rra-hover-layout {
    transition: opacity 0.4s;
  }

  .rra-hover-layout {
    opacity: 0;

    &:before,
    &:after,
    .rra-hl-more-pseudo:before {
      @include pseudo-el-base;
      border-radius: $button-height;
    }

    // blick - top left
    &:before {
      box-shadow: inset 2.1px 3.1px 1.5px -2.1px rgba(#fff, 0.25);
      z-index: 1;
    }
    // blick bottom right
    &:after {
      box-shadow: inset -2.5px -3.5px 1px -3px rgba(#fff, 0.45);
      z-index: 1;
    }
    // inner shadow
    .rra-hl-more-pseudo:before {
      box-shadow: inset -1px 1px 5px 3px rgba(#000, 0.25);
    }
    .rra-hl-more-pseudo {
      background-color: rgba(#000, 0.01);
      transition: background-color .3s;
    }
  }

  &:active,
  &:hover {
    color: $cyan;
    &:before,
    &:after,
    .rra-rra-more-pseudo:before {
      opacity: 0;
    }

    .rra-hover-layout {
      opacity: 1;
    }
  }

  &:active {
    .rra-hl-more-pseudo {
      background-color: rgba(#000, 0.05);
    }
  }

  &.rra-link-active {
    color: $cyan;
    pointer-events: none;
  }
}
