@use './pseudo-el-base.scss' as *;
@use '../variables/constants.scss' as *;

.button-pressed-glass-effect {
  width: $button-height * 2;
  position: relative;

  // a small tiny whaite border, to increase blick
  // border: 0.1px solid rgba(#fff, .05);

  // inverse blick
  &:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: 0 -1px 1px -0.5px rgba(#000, 0.7);
  }

  // blick
  &:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: 0 1px 1px -0.6px rgba(#fff, 0.7);
  }

  // shadow
  .rra-more-pseudo:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset -0.99px 3px 2.9px 0.5px rgba(#000, 0.4);
    
  }

  // small secondary shadow
  .rra-more-pseudo:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset -0.9px 2.5px 1.9px 0.05px rgba(#000, 0.3);
  }

  // a small tiny outer shadow
  box-shadow: 1px 1px 6px 1px rgba(#000, 0.1);
}
