@use './pseudo-el-base.scss' as *;
@use '../variables/constants.scss' as *;

@use '../variables/colors.scss' as *;
@use '../functions.scss' as *;

// A simplified Glass effect with some blicks and shadows, for buttons

// It looks like a liquid glass, because of blicks and shadows
// But it doesn't have a Liquid Glass effect on bg with Glass Distortion

.button-glass-effect {
  position: relative;
  background-color: rgba(#000, 0.05);
  box-shadow: remm(1px) remm(1px) remm(2px) remm(-1px) rgba(#000, 0.15);
  height: $button-height;
  border-radius: $button-height;

  // blick - on left top
  &:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset remm(3px) remm(4px) remm(2px) remm(-4px) rgba(#fff, 0.6);
  }

  // blick - on bottom right
  &:after {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset remm(-3px) remm(-4px) remm(2px) remm(-4px) rgba(#fff, 0.6);
  }

  // a small inner shadow
  .rra-more-pseudo:before {
    @include pseudo-el-base;
    border-radius: $button-height;
    box-shadow: inset remm(1px) remm(1px) remm(6px) remm(1px) rgba(#000, 0.25);
  }

  // set up containers for additional pseudo elements
  .rra-more-pseudo,
  .rra-hover-layout,
  .rra-hl-more-pseudo {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $button-height;
    z-index: 0;
  }

  // button states
  transform: scale(1);
  transition: transform 0.1s, color 0.5s;

  &:before,
  &:after,
  .rra-more-pseudo:before,
  .rra-hover-layout {
    transition: opacity 0.4s;
  }

  .rra-hover-layout {
    opacity: 0;

    &:before,
    &:after,
    .rra-hl-more-pseudo:before {
      @include pseudo-el-base;
      border-radius: $button-height;
    }

    // blick - top left
    &:before {
      box-shadow: inset remm(2.1px) remm(3.1px) remm(1.5px) remm(-2.1px)
        rgba(#fff, 0.25);
      z-index: 1;
    }
    // blick bottom right
    &:after {
      box-shadow: inset remm(-2.5px) remm(-3.5px) remm(1px) remm(-3px)
        rgba(#fff, 0.45);
      z-index: 1;
    }
    // inner shadow
    .rra-hl-more-pseudo:before {
      box-shadow: inset remm(-1px) remm(1px) remm(5px) remm(3px)
        rgba(#000, 0.25);
    }
    .rra-hl-more-pseudo {
      background-color: rgba(#000, 0.01);
      transition: background-color 0.3s;
    }
  }

  &:active,
  &:hover {
    color: $cyan;
    &:before,
    &:after,
    .rra-rra-more-pseudo:before {
      opacity: 0;
    }

    .rra-hover-layout {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(1.05);

    .rra-hl-more-pseudo {
      background-color: rgba(#000, 0.05);
    }
  }

  &.rra-link-active {
    color: $cyan;
    pointer-events: none;
  }
}
