@use '../../../scss/variables/colors.scss' as *;
@use '../../../scss/functions.scss' as *;

@use '../../../scss/functions.scss' as *;

.pgp-bg-clip {
  &__logo-wrap {
    position: relative;
    display: flex;
  }

  $logo_w: remm(130px);
  $logo_h: remm(96.25px);

  &__logo {
    position: relative;
    z-index: 0;
    width: $logo_w;
    height: $logo_h;
  }

  &__clip-block {
    clip-path: circle(40%);

    // position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: remm(10px);
    background-color: $white;
    width: $logo_w;
    height: $logo_h;
  }
}
