@import 'scss/resets.scss';
@import 'scss/variables/colors.scss';
@import 'scss/themes/dark/theme-dark';


body {
  background: $bg-color;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
