@use '../../scss/utils/page-base.scss' as *;

@use '../../scss/functions.scss' as *;

$rra-sign-in-page-control-width: remm(170px);
$rra-sign-in-page-sign-in-button-width: remm(100px);

.rra-sign-in-page {
  @extend .rra-page-base-centered;

  &-sign-in-button {
    margin-bottom: remm(12px);
    width: $rra-sign-in-page-sign-in-button-width;
    justify-self: center;
  }

  &-sign-up-button {
    margin-left: remm(6px);
  }

  &-input-email {
    margin-bottom: remm(8px);
    width: $rra-sign-in-page-control-width;
  }

  &-input-password {
    margin-bottom: remm(12px);
    width: $rra-sign-in-page-control-width;
  }
}
