@use '../../scss/core/elements/page-base.scss' as *;

.rra-sign-in-page {
  @extend .rra-page-base;

  &-sign-in-button {
    margin-bottom: 12px;
    width: 150px;
  }

  &-sign-up-button {
    margin-left: 6px;
  }
}
