@use '../../functions.scss' as *;

// rra - app prefix - responsive react app
.rra-page-base {
  padding: remm(80px) remm(22px) remm(36px);
  width: 100%;

  .rra-main-heading {
    margin-bottom: remm(16px);
  }

  .rra-glass-card {
    min-width: remm(215px);
  }
}

.rra-page-base-centered {
  @extend .rra-page-base;
  display: flex;
  align-items: center;
  justify-content: center;
}
