// rra - app prefix - responsive react app
.rra-page-base {
  padding: 80px 22px 36px;
  width: 100%;

  .rra-main-heading {
    margin-bottom: 16px;
  }

  .rra-glass-card {
    min-width: 215px;
  }
}

.rra-page-base-centered {
  @extend .rra-page-base;
  display: flex;
  align-items: center;
  justify-content: center;
}
