@use '../../scss/core/page/page-base.scss' as *;
@use '../../scss/core/helpers/flex.scss' as *;

@use '../../scss/functions.scss' as *;

.pgp-root {
  &-action-button {
    width: remm(150px);
  }

  &-nav-element {
    @extend .rra-flex-center-center, .rra-flex-column;
    padding: 0 remm(10px) remm(15px);

    &-sub-heading {
      width: remm(150px);
      height: remm(48px);
    }
  }

  .playground-page-content {
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .pgp-root {
    &-nav-element {
      width: 100%;
    }
  }
}
