.rra-sub-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.15px;
  text-align: center;

  &-xs {
    font-size: 10px;
    font-weight: 400;
  }

  &-sm {
    font-size: 12px;
    font-weight: 400;
  }
}
