@import '../../../scss/variables/colors.scss';

.sub-heading {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.15px;
  text-align: center;
}
