.rra-mb-10 {
  margin-bottom: 10px;
}

.rra-mb-16 {
  margin-bottom: 16px;
}

.rra-mb-25 {
  margin-bottom: 25px;
}

.rra-mb-50 {
  margin-bottom: 50px;
}


.rra-mt-10 {
  margin-top: 10px;
}

.rra-mt-16 {
  margin-top: 16px;
}

.rra-mt-25 {
  margin-top: 25px;
}

.rra-mt-50 {
  margin-top: 50px;
}