$td_black: #1a1a1a;
$td_white: #fefefe;

$td_blue: #005CAD;
$td_dark-teal: #00243A;
$td_cyan: #00FFFF;

$td_page-bg-color: $td_black;

$td_header-bg: rgba($td_blue, .8);
$td_glass-card-bg: rgba($td_blue, .8);